@model IEnumerable<PR01.Models.employee>

@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="render()">Registra Empleados</button>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.department.descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })|
                @Html.ActionLink("PDF", "printEmployeeDetails", new { id = item.id }, new { @class = "glyphicon glyphicon-plus" })
                <span style="color:blue">
                    <i class="fas fa-file-pdf"></i>

                </span>
            </td>
        </tr>
    }

</table>




<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registra Empleados</h4>
            </div>
            <div class="modal-body" id="div1">
                @*<p>Some text in the modal.</p>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Titulos", (IEnumerable<PR01.Models.employee>)ViewBag.listEmp)

